Affine/.affine
Crafty/minecraft
Jellyfin/cache
Jellyfin/config
Memos/memos
Immich/postgres
Pihole/etc-pihole
Wastebin/data
Privatebin/privatebin-data
Photoprism/database
Photoprism/storage
Otterwiki/app-data

Docs/*
!Docs/bootstrap.sh

